body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  border-radius: 10px;
  width: 260px;
  height: 70px;
  position: relative;
  border: none;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #282728;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  left: 0;
  top: 0;
  border-radius: 7px;
  transition: 0.4s;
  z-index: -1;
}
.btn:hover::after {
  color: #282728;
  opacity: 0.2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  justify-content: cetner;
  align-items: center;
}
.header-nav__link {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: #FFFFFF;
  margin-right: 25px;
  position: relative;
  padding-bottom: 2px;
  border-bottom: 2px dotted #FFFFFF;
  display: block;
  transition: 0.4s;
}
.header-nav__link:hover {
  color: #B2DD4C;
  text-decoration: none;
  border-bottom: 2px dotted #B2DD4C;
}
.header-nav__goods {
  position: relative;
  transition: 0.4s;
}
.header-nav__goods:hover .header-nav__goods-links {
  opacity: 1;
  z-index: 1;
  display: block;
}
.header-nav__goods:hover a svg {
  transform: rotate(-180deg);
  transition: 0.6s;
}
.header-nav__goods-link {
  position: relative;
}
.header-nav__goods-link svg {
  transition: 0.4s;
}
.header-nav__goods-link::before {
  content: "";
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-bottom: 60px;
  position: absolute;
  z-index: 1;
}
.header-nav__goods-link:hover svg path {
  stroke: #B2DD4C;
}
.header-nav__goods-links {
  opacity: 0;
  background: #FFFFFF;
  position: absolute;
  z-index: -10;
  transition: all 0.4s;
  left: 0;
  margin-top: 30px;
  display: none;
}
.header-nav__goods-links:hover .header-nav__goods-link {
  color: #B2DD4C;
  text-decoration: none;
  border-bottom: 2px dotted #B2DD4C;
}
.header-nav__goods-links a {
  display: block;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #282728;
  border-bottom: 1px solid #ececec;
  padding: 15px 15px 15px 15px;
  width: 325px;
}
.header-nav__contacts {
  margin-right: 0;
}
.header-contacts__num {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
  display: block;
  transition: 0.4s;
}
.header-contacts__num:hover {
  text-decoration: none;
  color: #B2DD4C;
}
.header-contacts__call {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
  text-align: right;
  margin-top: 10px;
  padding-bottom: 2px;
  display: block;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.header-contacts__call::before {
  content: "";
  border-bottom: 2px dotted;
  width: 126px;
  height: 2px;
  position: absolute;
  bottom: -2px;
}
.header-contacts__call:hover {
  color: #B2DD4C;
  text-decoration: none;
}
.header-contacts__call:hover::before {
  border-bottom: 2px dotted #B2DD4C;
}
.header-wrap {
  background: #282728;
  padding: 30px 0;
  position: absolute;
  width: 100%;
  top: 0;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.basic {
  background: url(../img/basic/bg.jpg) center no-repeat;
  background-size: 100% 100%;
  padding-bottom: 125px;
  margin-top: 108px;
}
.basic-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
}
.basic-subtitle {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.basic-subtitle__1 {
  margin-top: 30px;
}
.basic-btns {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.basic-btns__2 {
  background: linear-gradient(90deg, #FFFFFF 0%, #FBF3EA 53.76%, #FFFFFF 105.32%);
}
.basic-btns__2::after {
  width: 0;
}
.basic-btns__2:hover {
  color: #000;
}
.basic-info {
  margin-top: 40px;
  background: rgba(40, 39, 40, 0.85);
  border-radius: 20px;
  padding: 52px 0 60px 0;
}
.basic-info__blocks {
  display: flex;
}
.basic-info__block {
  display: flex;
  margin-right: 38px;
}
.basic-info__block-img svg {
  margin-right: 20px;
}
.basic-info__block-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.basic-info__block-info {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-top: 20px;
}

.soft {
  position: relative;
  margin-top: 100px;
}
.soft-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #282728;
}
.soft-subtitle {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  color: #282728;
  margin-top: 30px;
}
.soft-composition {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #282728;
  margin-top: 20px;
}
.soft-sliders__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-left: 78px;
  padding-right: 98px;
}
.soft-sliders__prev {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  margin-bottom: -28px;
  left: -128px;
}
.soft-sliders__prev:hover svg path {
  fill: #C4E96C;
}
.soft-sliders__prev svg path {
  transition: all 0.4s;
}
.soft-sliders__next {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  margin-bottom: -28px;
  right: -128px;
}
.soft-sliders__next:hover svg path {
  fill: #C4E96C;
}
.soft-sliders__next svg {
  transform: rotate(180deg);
}
.soft-sliders__next svg path {
  transition: all 0.4s;
}
.soft-blocks {
  margin-right: 20px;
}
.soft-blocks__block {
  margin-bottom: 30px;
}
.soft-blocks__block-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  color: #282728;
  position: relative;
}
.soft-blocks__block-title::before {
  content: "";
  width: 10px;
  height: 10px;
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  position: absolute;
  border-radius: 50%;
  bottom: 50%;
  margin-bottom: -5px;
  left: -22px;
}
.soft-blocks__block-text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #282728;
  margin-top: 19px;
}

.goods {
  margin-top: 100px;
}
.goods a {
  text-decoration: none !important;
}
.goods::before {
  content: "";
  position: absolute;
  background: url(../img/goods/bg.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 1417px;
  z-index: -1;
  top: 1100px;
}
.goods-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  color: #282728;
  margin-bottom: 50px;
}
.goods-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-wrap__blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-block {
  padding: 30px 40px 40px 40px;
  margin-right: 30px;
}
.goods-block__1 {
  background: url(../img/goods/bg-1.png) center no-repeat;
  background-size: 100% 100%;
}
.goods-block__2 {
  background: url(../img/goods/bg-2.png) center no-repeat;
  background-size: 100% 100%;
}
.goods-block__3 {
  background: url(../img/goods/bg-3.png) center no-repeat;
  background-size: 100% 100%;
}
.goods-block__4 {
  background: url(../img/goods/bg-4.png) center no-repeat;
  background-size: 100% 100%;
  margin-right: 0;
}
.goods-block__img {
  margin-top: 40px;
  padding: 38px 0 37.24px 0;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282728;
  border-radius: 10px;
}
.goods-block__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 115.2%;
  color: #FFFFFF;
  margin-top: 30px;
  max-width: 120px;
  min-height: 56px;
}
.goods-block__btn {
  margin-top: 22px;
  width: 100%;
  height: 55px;
  border-radius: 4px;
  transition: 0.4s;
}
.goods-block__btn:hover svg {
  transform: translateX(10px);
  transition: 0.4s;
}
.goods-block__btn-text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #282728;
  margin-right: 12px;
}
.goods-block__btn svg {
  transition: 0.4s;
}

.clients {
  margin-top: 80px;
  position: relative;
}
.clients-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  color: #282728;
  margin-bottom: 30px;
}
.clients-sliders {
  position: relative;
}
.clients-sliders__block {
  min-height: 140px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.clients-sliders__block img {
  display: block;
  margin: auto;
}
.clients-sliders__prev {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  margin-bottom: -28px;
  left: -90px;
}
.clients-sliders__prev:hover svg path {
  fill: #C4E96C;
}
.clients-sliders__prev svg path {
  transition: all 0.4s;
}
.clients-sliders__next {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  margin-bottom: -28px;
  right: -90px;
  transform: rotate(180deg);
}
.clients-sliders__next:hover svg path {
  fill: #C4E96C;
}
.clients-sliders__next svg path {
  transition: all 0.4s;
}

.certif {
  padding: 50px 0 80px 0;
  margin-top: 80px;
  position: relative;
  background: #282728;
}
.certif-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.certif-sliders__block {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  width: 100% !important;
}
.certif-sliders__block img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  border-top: 45px solid #fff;
  border-radius: 15px;
  border-bottom: 45px solid #fff;
}
.certif-sliders__prev {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  margin-bottom: -28px;
  left: -70px;
}
.certif-sliders__prev:hover svg path {
  fill: #C4E96C;
}
.certif-sliders__prev svg path {
  transition: all 0.4s;
  fill: #FFFFFF;
}
.certif-sliders__next {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  margin-bottom: -28px;
  right: -70px;
  transform: rotate(180deg);
}
.certif-sliders__next:hover svg path {
  fill: #C4E96C;
}
.certif-sliders__next svg path {
  fill: #FFFFFF;
  transition: all 0.4s;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.news {
  margin-top: 80px;
  margin-bottom: 100px;
  background: url(../img/news/bg.png) center no-repeat;
  background-size: 100% 73%;
}
.news a {
  text-decoration: none;
  display: block;
  width: 270px;
  margin: 0 auto;
}
.news::before {
  content: "";
  position: absolute;
  background: url(../img/news/bg-2.jpg) left no-repeat;
  background-size: cover;
  width: 75%;
  height: 1268.64px;
  left: 0;
  z-index: -1;
  top: 2850px;
}
.news-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  color: #FFFFFF;
  margin-top: 20px;
}
.news-block__text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 20px;
}
.news-block__btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.news-block__1 img, .news-block__2 img, .news-block__3 img, .news-block__4 img {
  width: 100%;
}
.news-block__1 {
  margin-top: 30px;
}
.news-block__2 {
  margin-top: 80px;
}
.news-block__3 p {
  color: #FFFFFF;
}
.news-block__4 {
  margin-top: 50px;
}
.news-block__4 p {
  color: #FFF;
}
.news-block__5 p, .news-block__6 p {
  color: #282728;
}
.news-block__5 {
  margin-top: 30px;
}
.news-block__6 {
  margin-top: 80px;
}

.quest {
  padding: 74px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.quest::before {
  content: "";
  width: 98%;
  height: 98%;
  right: 50%;
  margin-right: -49%;
  top: 1%;
  border: 1px solid rgba(40, 39, 40, 0.1);
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
.quest-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #282728;
  text-align: center;
  position: relative;
}
.quest-title::before {
  content: "";
  width: 221px;
  height: 1px;
  position: absolute;
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  bottom: -10px;
  right: 50%;
  margin-right: -110.5px;
}
.quest-subtitle {
  margin-top: 20px;
}
.quest-subtitle p {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #282728;
}
.quest-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #B2DD4C;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 5px;
}
.quest-input__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #282728;
}
.quest-input__name {
  margin-top: 30px;
}
.quest-input__phone {
  margin-top: 30px;
}
.quest-btn {
  margin-top: 30px;
}
.quest-wrap {
  display: flex;
  justify-content: center;
}

.footer {
  position: relative;
}
.footer-map {
  width: 100%;
  height: 550px;
}
.footer-block {
  position: absolute;
  bottom: 80px;
  left: 20%;
  width: 362px;
}
.footer-block__wrap {
  position: relative;
  padding: 60px 90px;
  background: #282728;
  border-radius: 10px;
  z-index: 1;
}
.footer-block__wrap::before {
  content: "";
  width: 98%;
  height: 98%;
  right: 50%;
  margin-right: -49%;
  top: 1%;
  opacity: 0.1;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
.footer-block__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
}
.footer-block__subtitle {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  color: #B2DD4C;
  margin-top: 10px;
  text-align: center;
}
.footer-block__text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  text-align: center;
  margin-top: 25px;
}
.footer-block__phone {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
  display: block;
  transition: 0.4s;
}
.footer-block__phone:hover {
  color: #B2DD4C;
  text-decoration: none;
}
.footer-block__callback {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #B2DD4C;
  padding-bottom: 2px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  text-align: center;
  position: relative;
}
.footer-block__callback::before {
  content: "";
  border-bottom: 2px dotted;
  width: 94px;
  height: 2px;
  position: absolute;
  bottom: -2px;
}
.footer-block__callback:hover {
  color: #B2DD4C;
  text-decoration: none;
}
.footer-block__callback:hover::before {
  border-bottom: 2px dotted #B2DD4C;
}
.footer-block__soctitle {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 30px;
}
.footer-block__soc {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer-block__soc-wpp {
  margin-right: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.popup-before {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: -1;
}
.popup-wrap {
  padding: 74px 137px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.popup-wrap::before {
  content: "";
  width: 98%;
  height: 98%;
  right: 50%;
  margin-right: -49%;
  top: 1%;
  border: 1px solid rgba(40, 39, 40, 0.1);
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
.popup-wrap__form {
  display: flex;
  justify-content: center;
}
.popup-out {
  position: absolute;
  font-size: 48px;
  right: 25px;
  top: 0;
  cursor: pointer;
}
.popup-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #282728;
  text-align: center;
  position: relative;
}
.popup-title::before {
  content: "";
  width: 221px;
  height: 1px;
  position: absolute;
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  bottom: -10px;
  right: 50%;
  margin-right: -110.5px;
}
.popup-subtitle {
  margin-top: 20px;
}
.popup-subtitle p {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #282728;
}
.popup-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #B2DD4C;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 5px;
}
.popup-input__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #282728;
}
.popup-input__name {
  margin-top: 30px;
}
.popup-input__phone {
  margin-top: 30px;
}
.popup-btn {
  margin-top: 30px;
}

.product {
  margin-top: 188px;
  margin-bottom: 100px;
}
.product-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  color: #282728;
}
.product-img {
  margin-top: 40px;
}
.product-img img {
  width: 100%;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.product-price__num {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 31px;
  color: #282728;
}
.product-price__num span {
  font-weight: 700;
}
.product-price__btn {
  width: 165px;
  height: 50px;
  font-size: 14px;
}
.product-doc {
  margin-top: 35px;
}
.product-doc__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  color: #282728;
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 8px;
}
.product-doc__title::before {
  content: "";
  position: absolute;
  width: 272px;
  height: 2px;
  bottom: 0;
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  left: 0;
}
.product-doc__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 30px;
}
.product-doc__block:hover {
  text-decoration: none;
}
.product-doc__block-img {
  margin-right: 20px;
}
.product-doc__block-text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  color: #251509;
}
.product-info {
  margin-top: 40px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  color: #282728;
}
.product-desc__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 34px;
  color: #282728;
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 8px;
}
.product-desc__title::before {
  content: "";
  position: absolute;
  width: 555px;
  height: 2px;
  bottom: 0;
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  left: 0;
}
.product-desc__info {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-desc__info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  bottom: 0;
  left: 0;
}
.product-desc__info:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.product-desc__info:last-child::before {
  width: 0;
}
.product-desc__info-title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #282728;
  min-width: 262px;
  max-width: 262px;
  margin-right: 30px;
}
.product-desc__info-text {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #282728;
  margin-top: 4px;
}

.catalog {
  background: url(../img/catalog/bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 100px;
  margin-top: 108px;
}
.catalog-swipe {
  width: 25px;
  display: block;
  margin: 50px auto 0 auto;
}
.catalog-btns {
  display: flex;
  justify-content: space-between;
  margin: 0 32px 60px 31px;
}
.catalog-btns__btn {
  padding: 20px 15px;
  border: 1px solid #B2DD4C;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  background: transparent;
  position: relative;
  z-index: 1;
}
.catalog-btns__active {
  background: linear-gradient(315deg, #B2DD4C 0.01%, #BFF839 100%);
  border: none;
  color: #282728;
}
.catalog-btns__active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  left: 0;
  top: 0;
  border-radius: 7px;
  transition: 0.4s;
  z-index: -1;
}
.catalog-btns__active:hover::after {
  opacity: 0.3;
}
.catalog-wrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 85.625rem;
  margin-top: 30px;
}
.catalog-wrap:first-child {
  margin-top: 0;
}
.catalog-block {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #BFF839;
  border: 2px solid #8FBA2B;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 30px;
  max-width: 320px;
  margin-left: 10px;
  margin-right: 10px;
}
.catalog-block__wrap {
  background: #FFFFFF;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalog-block__wrap-title {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 27px;
  color: #282728;
  margin-left: 20px;
}
.catalog-block__wrap-img {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-block__desc {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  color: #FFFFFF;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.catalog-block__note {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.catalog-block__note p {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #FFFFFF;
  margin-top: 8px;
}
.catalog-block__note p:first-child {
  margin-top: 0;
}
.catalog-block__link {
  text-decoration: none !important;
  width: 270px;
  display: block;
  margin: 0 auto;
}
.catalog-block__btn {
  height: 55px;
  margin: 0 auto;
  margin-top: 43px;
  background: #FFFFFF;
  transition: 0.4s;
}
.catalog-block__btn:hover {
  color: #000;
}

.hidden-pc {
  display: none;
}

@media screen and (max-width: 1440px) {
  .soft-sliders__prev {
    left: -15px;
  }
  .soft-sliders__next {
    right: -15px;
  }
  .goods-block {
    margin-right: 15px;
    padding: 15px 25px 25px 25px;
  }
  .news {
    background-size: auto;
  }
  .footer-block {
    left: 15%;
  }
}
@media screen and (max-width: 1024px) {
  .header-nav a {
    font-size: 14px;
  }
  .header-contacts__num {
    font-size: 22px;
  }
  .basic {
    background-size: auto;
  }
  .basic-title {
    font-size: 52px;
  }
  .basic-subtitle {
    font-size: 22px;
  }
  .soft {
    margin-top: 50px;
  }
  .soft-title {
    font-size: 36px;
  }
  .soft-subtitle {
    font-size: 22px;
  }
  .soft-composition {
    font-size: 16px;
  }
  .soft-blocks__block-title {
    font-size: 18px;
  }
  .soft-block__img {
    width: auto;
    flex-basis: 250%;
  }
  .soft-block__img img {
    width: 100%;
  }
  .soft-sliders__prev {
    left: 15px;
  }
  .soft-sliders__next {
    right: 15px;
  }
  .soft-raptor__1 {
    width: 10%;
  }
  .soft-raptor__2 {
    width: 15%;
  }
  .goods-title {
    font-size: 36px;
  }
  .goods-wrap {
    display: flex;
  }
  .goods-block__img {
    margin-top: 20px;
    width: auto;
    padding: 20px 0;
  }
  .goods-block__title {
    font-size: 22px;
    margin-top: 15px;
  }
  .goods-block__btn {
    margin-top: 11px;
  }
  .clients-title {
    font-size: 36px;
  }
  .clients-raptor__1 {
    width: 10%;
    z-index: -2;
  }
  .clients-sliders__prev {
    left: -80px;
  }
  .clients-sliders__next {
    right: -80px;
  }
  .certif::before {
    width: 95%;
    margin-right: -47.5%;
  }
  .certif-title {
    font-size: 36px;
  }
  .certif-sliders__block img {
    width: 75%;
  }
  .certif-sliders__prev {
    left: -57px;
  }
  .certif-sliders__next {
    right: -57px;
  }
  .news-title {
    font-size: 36px;
  }
  .news-block__1 img, .news-block__2 img, .news-block__3 img, .news-block__4 img, .news-block__5 img, .news-block__6 img {
    width: 100%;
  }
  .news-block__text {
    font-size: 16px;
  }
  .product-title {
    font-size: 36px;
  }
  .product-price__num {
    font-size: 22px;
  }
  .product-doc__title {
    font-size: 28px;
  }
  .product-doc__title::before {
    width: 211px;
  }
  .product-doc__block-text {
    font-size: 18px;
  }
  .product-info {
    font-size: 16px;
  }
  .product-desc__title {
    font-size: 28px;
  }
  .product-desc__title::before {
    width: 432px;
  }
  .product-desc__info-title {
    font-size: 18px;
  }
  .product-desc__info-text {
    font-size: 16px;
  }
  .footer-block {
    left: 10%;
  }
}
@media screen and (max-width: 576px) {
  .btn {
    height: 55px;
  }
  html {
    overflow-x: hidden;
  }
  .hidden {
    display: none;
  }
  .hidden-pc {
    display: block;
  }
  .basic {
    margin-top: 103px;
  }
  .header-logo {
    width: 120px;
  }
  .header-logo img {
    width: 100%;
  }
  .header-contacts__num {
    text-align: center;
    font-size: 18px;
  }
  .header-contacts__call {
    text-align: center;
    margin-top: 5px;
  }
  .header-nav__goods-links {
    position: static;
    background: transparent;
    margin-right: 25px;
    margin-top: 10px;
    opacity: 1;
    display: block;
  }
  .header-nav__goods-links a {
    color: #fff;
    text-align: right;
    font-size: 14px;
    padding: 0;
    border-bottom: 1px dotted;
    width: auto;
  }
  .header-nav__goods-link:hover svg path {
    stroke: #fff;
  }
  .btn {
    font-size: 14px;
  }
  .menu {
    position: relative;
  }
  .menu-illusion {
    width: 35px;
  }
  .menu-wrap {
    position: fixed;
    z-index: 4;
    right: 15px;
    top: 34px;
  }
  .menu-links {
    width: 35px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
    position: relative;
    display: block;
  }
  .menu-links span {
    width: 35px;
    height: 5px;
    top: 50%;
    left: 50%;
    margin-top: -2.5px;
    margin-left: -17.5px;
    position: absolute;
    transition: all 0.5s;
    background: #FFFFFF;
  }
  .menu-links span::before {
    content: "";
    width: 35px;
    height: 5px;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -17.5px;
    position: absolute;
    background-color: #FFFFFF;
    transition: all 0.5s;
  }
  .menu-links span::after {
    content: "";
    width: 35px;
    height: 5px;
    top: 50%;
    left: 50%;
    margin-top: 8px;
    margin-left: -17.5px;
    position: absolute;
    background-color: #FFFFFF;
    transition: all 0.5s;
  }
  .menu-links__active {
    transition: all 0.5s;
  }
  .menu-links__active span {
    background-color: transparent;
  }
  .menu-links__active span::before {
    transform: rotate(135deg);
    margin-top: 0;
    background-color: #FFFFFF;
  }
  .menu-links__active span::after {
    transform: rotate(-135deg);
    margin-top: 0;
    background-color: #FFFFFF;
  }
  .menu-popup {
    position: fixed;
    height: 100%;
    width: 90%;
    padding: 125px 0 0 55px;
    top: 0;
    right: 0;
    background: #282728;
    border-radius: 6px 0px 0px 6px;
    z-index: 2;
    transition: 0.6s;
    transform: translateX(100%);
  }
  .menu-popup__active {
    transform: none;
  }
  .menu-popup__link {
    display: block;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 25px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px dotted #FFFFFF;
    margin-top: 45px;
    text-align: right;
  }
  .menu-popup__link:hover {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px dotted #fff;
  }
  .menu-popup__wrap {
    display: flex;
    justify-content: right;
  }
  .basic {
    background-size: 700%;
    padding-bottom: 100px;
  }
  .basic-title {
    font-size: 36px;
  }
  .basic-subtitle {
    font-size: 18px;
  }
  .basic-subtitle__1 {
    margin-top: 15px;
  }
  .basic-btns {
    margin-top: 25px;
  }
  .basic-btns__1 {
    margin-right: 10px;
  }
  .basic-btns__2 {
    margin-left: 10px;
  }
  .basic-info {
    padding: 0 0 30px 0;
  }
  .basic-info__blocks {
    display: block;
    padding: 0 20px;
  }
  .basic-info__blocks:first-child {
    margin-top: 0px;
  }
  .basic-info__block {
    margin-right: 0;
    margin-top: 30px;
  }
  .basic-info__block-title {
    font-size: 18px;
  }
  .soft {
    padding-bottom: 100px;
    margin-top: 50px;
  }
  .soft-title {
    font-size: 22px;
    line-height: 1;
  }
  .soft-subtitle {
    font-size: 18px;
    margin-top: 20px;
  }
  .soft-composition {
    font-size: 14px;
    margin-top: 10px;
  }
  .soft-sliders__blocks {
    display: block;
    padding: 0 0 0 22px;
    margin-top: 25px;
  }
  .soft-sliders__next {
    bottom: -55px;
  }
  .soft-sliders__prev {
    bottom: -55px;
  }
  .soft-block__img {
    width: 100%;
  }
  .soft-block__img img {
    width: 100%;
  }
  .soft-raptor__1 {
    width: 25%;
    z-index: -1;
    top: 0;
  }
  .soft-raptor__2 {
    width: 25%;
    bottom: -100px;
  }
  .goods {
    margin-top: 40px;
  }
  .goods::before {
    top: 1600px;
  }
  .goods-title {
    font-size: 22px;
    margin-bottom: 50px;
  }
  .goods-wrap {
    display: block;
  }
  .goods-wrap__blocks {
    justify-content: space-around;
    margin-bottom: 15px;
  }
  .goods-wrap__blocks:last-child {
    margin-bottom: 0;
  }
  .goods-block {
    margin-right: 0;
    padding: 7.5px 12.5px 12.5px 12.5px;
    width: 47%;
  }
  .goods-block__img {
    width: 100px;
    margin: 10px auto 0 auto;
  }
  .goods-block__img img {
    min-width: 100%;
    max-width: 100%;
  }
  .goods-block__title {
    font-size: 16px;
    text-align: center;
    min-height: 36.78px;
    max-width: none;
    width: 100%;
  }
  .goods-block__btn {
    margin-top: 20px;
    height: 40px;
  }
  .goods-block__btn-text {
    font-size: 14px;
    margin-right: 7px;
  }
  .goods-block__1 {
    margin-right: 10px;
  }
  .goods-block__3 {
    margin-right: 10px;
  }
  .clients {
    margin-top: 40px;
  }
  .clients-sliders__prev {
    left: 0;
  }
  .clients-sliders__next {
    right: 0;
  }
  .clients-raptor__1 {
    width: 20%;
    bottom: -115px;
  }
  .certif {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .certif-sliders {
    text-align: center;
  }
  .certif-sliders__prev {
    left: 25px;
  }
  .certif-sliders__next {
    right: 25px;
  }
  .certif-sliders__block {
    display: flex !important;
    justify-content: center;
  }
  .certif-sliders__block img {
    width: 60%;
  }
  .quest {
    padding: 25px 0;
  }
  .quest-title {
    font-size: 22px;
  }
  .quest-title::before {
    width: 140px;
    margin-right: -70px;
  }
  .quest-subtitle {
    font-size: 18px;
  }
  .quest-input {
    width: 180px;
  }
  .quest-input__title {
    font-size: 16px;
  }
  .quest-btn {
    width: 180px;
  }
  .news {
    background-position: right 50% bottom 73%;
    margin-bottom: 50px;
  }
  .news::before {
    width: 100%;
  }
  .news-raptor__1 {
    width: 25%;
    top: -120px;
    z-index: -2;
  }
  .news-block__1, .news-block__2, .news-block__3, .news-block__4, .news-block__5, .news-block__6 {
    margin-top: 30px;
  }
  .news-block__text {
    font-size: 14px;
    margin-top: 15px;
  }
  .news-block__btn {
    width: 162.5px;
    margin-top: 20px;
  }
  .news-block__4 p {
    color: #272827;
  }
  .footer-block__wrap {
    padding: 25px 15px;
  }
  .footer-block__title {
    font-size: 24px;
  }
  .footer-block__subtitle {
    font-size: 14px;
  }
  .popup-wrap {
    padding: 35px 60px;
  }
  .popup-title {
    font-size: 22px;
  }
  .popup-title::before {
    width: 140px;
    margin-right: -70px;
  }
  .popup-subtitle {
    font-size: 18px;
  }
  .popup-input {
    width: 160px;
  }
  .popup-input__title {
    font-size: 16px;
  }
  .popup-btn {
    width: 162.5px;
  }
  .product {
    margin-top: 143px;
    margin-bottom: 50px;
  }
  .product-title {
    font-size: 22px;
  }
  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-img img {
    width: 60%;
  }
  .product-price__num {
    font-size: 20px;
  }
  .product-doc__title {
    font-size: 20px;
  }
  .product-doc__title::before {
    width: 150px;
  }
  .product-doc__block-text {
    font-size: 14px;
  }
  .product-desc__title {
    font-size: 22px;
  }
  .product-desc__title::before {
    width: 340px;
  }
  .product-desc__info-title {
    font-size: 16px;
    margin-right: 15px;
    max-width: 175px;
    min-width: 175px;
  }
  .product-desc__info-text {
    font-size: 14px;
  }
  .footer-map {
    height: 250px;
  }
  .footer-block {
    position: static;
    width: 100%;
  }
  .footer-block__wrap {
    border-radius: 0;
  }
  .footer-block__wrap::before {
    border-radius: 0;
  }
  .footer-block__phone {
    margin-top: 30px;
  }
  .footer-block__soctitle {
    margin-top: 30px;
  }
  .catalog {
    padding-top: 25px;
    padding-bottom: 50px;
    margin-top: 103px;
  }
  .catalog-swipe {
    margin: 25px auto 0 auto;
  }
  .catalog-btns {
    margin: 30px 0 45px 0;
    overflow-y: scroll;
  }
  .catalog-btns__btn {
    margin-right: 10px;
  }
  .catalog-btns__btn-4 {
    margin-right: 0;
  }
  .catalog-btns__wrap {
    width: 921px;
    padding-bottom: 12px;
  }
  .catalog-wrap {
    justify-content: center;
  }
  .catalog-block {
    margin-top: 10px;
  }
  .catalog-block__desc {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=main.css.map */